{% extends 'base.html' %}
{% block content %}

<details>
    <summary>[Cadastrar um novo console]</summary>

    <div class="col-md-4">
        <form action="{{url_for('estoque_consoles')}}" method="POST">

            <input type="text" name="Nome" placeholder="Nome do console" class="form-control mb-2" required>
            <input type="text" name="Fabricante" placeholder="Fabricante do console" class="form-control mb-2" required>
            <input type="number" name="Ano" placeholder="Ano do console" class="form-control mb-2" required>
            <input type="number" name="Preco" placeholder="Preço do console" class="form-control mb-2" required>
            <input type="number" name="Quantidade" placeholder="Quantidade em estoque" class="form-control mb-2" required>
            <br>

            <button type="submit" class="btn btn-outline-success">
                Cadastrar
            </button>
            <button type="reset" class="btn btn-outline-danger">
                Limpar
            </button>

        </form>
    </div>
</details>

<hr>

<h2>Controle de Estoque</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Ano</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>

    <tbody>

        {% for console in games %}

        <tr>
            <td>{{console.Nome}}</td>
            <td>{{console.Fabricante}}</td>
            <td>{{console.Ano}}</td>
            <td>{{console.Preco}}</td>
            <td>{{console.Quantidade}}</td>

            <td><a href="{{url_for('estoque_consoles', id=console.id)}}" class="btn btn-danger" onclick="return confirm('Deseja mesmo editar o jogo?')">Editar</a></td>
            <td><a href="{{url_for('estoque_consoles', id=console.id)}}" class="btn btn-danger" onclick="return confirm('Deseja mesmo excluir o jogo?')">Deletar</a></td>
            </tr>

        {% endfor %}

    </tbody>    
</table>

{% endblock content %}