<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silksong World</title>
    <style>
        h1{
            color: brown;
        }
    </style>
</head>
<body>
    <H1>Destaques</H1>
    <table>
        <tr>
            <td>Atualizações </td> 
        </tr>
        <tr>
            <td>Bosses</td>
        </tr>
        <tr>
             <td>Personegens</td>
        </tr>
        <tr>
            <td>NPC's</td>
        </tr>
        <tr>
            <td>História/Lore</td>
        </tr>
    </table>
    <hr>
</body>
</html>